---
// export const prerender = false;
// console.log(process.cwd());

let counter = 0;

if (Astro.cookies.has('counter')) {
	const cookie = Astro.cookies.get('counter');
	counter = cookie.number() + 1;
}

Astro.cookies.set('counter', counter);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Counter = {counter}</h1>
	</body>
</html>
